* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: #fff; */
  font-family: Arial, Helvetica, sans-serif;
}

html{
    scroll-behavior: smooth;
}

html,body {
  width: 100%;
  height: 100%;
}
a{
  text-decoration: none;
}
header{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 0.15rem gray;
  /* padding-bottom: 0.5rem; */
  /* flex-basis: 32%;
  padding: 1%; */
}
.headerLeft, .headerRight {
  display: flex;
  align-items: center;
}
.logo{
  padding: 1.8rem;
  box-shadow: 0 0 0.04rem  gray;
}
.logo:hover{
  background-color: rgba(241, 239, 239, 0.463);
  cursor: pointer;

}
.address{
  padding: 1.5rem;
  
}
.address:hover{
  cursor: pointer;
  background-color: rgba(241, 239, 239, 0.463);
}
.address h2{
  
  margin-bottom: 0.5rem;
  font-size: 1.15rem;
}
.address p{
  font-size: 0.85rem;
}
.searchBox{
  border: 0.1rem solid #ccc;
  border-radius: 1rem;
  /* flex-basis: 32%;
  padding: 0.5%; */
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-grow: 1;
  padding: 0.25rem 0.5rem;
  height: 2.5rem;
  background-color: #eee;
}
.searchBox input{
  background-color: inherit;
  border: none;
  outline: none;
  display: block;
  width: 100%;
  font-size: 1.15rem;
  color: #888;
}
.searchBox  i{
  color: #aaa;
}
.headerRight{
  margin-right: 1.5rem;
}
.loginDiv{
  cursor: pointer;
}
.loginBtn button{
  padding: 0.75rem 1rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.25rem;
  transition: 0.25s ease;
  margin-right: 0.75rem;
}
.loginBtn button:hover{
  background-color: #eeeeeea4;
}
.myCart button{
  padding: 1rem 1.35rem;
  border: none;
  cursor:not-allowed;
  background-color: #ccc;
  border-radius: 0.6rem;
  color: #fff;
  font-weight: bold;
}
.loginDiv{
  display: none;
}

.bannerSection{
  display: flex;
  flex-wrap: wrap;
  max-width: 1280px;
  margin: auto;
}
.card{
  flex-basis: 23%;
  margin: 1%;
  cursor: pointer;
}
.card img{
  width: 100%;
} 
.banner{
  cursor: pointer;
  max-width: 1280px;
  margin-inline: auto;
}
.banner img{
  width: 100%;
}

/* items section */
.items{
  max-width: 1320px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(8rem,1fr));
  
}

.item{
  margin-inline: auto;
  transition: transform 0.25s ease;
}
.item:hover{
  cursor: pointer;
  transform: scale(1.05);
}
.item img{
  max-width: 100%;
}
/* products section */
.products{
  max-width: 1320px;
  margin-inline: auto;
  padding-inline: 2rem;
}
.product-heading{
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}
.product-heading h3{
  letter-spacing: -0.05rem;
  font-weight: 800;
  font-size: 1.25rem;
}
.product-heading a, .footer-part2 .footer-head a{
  color: rgb(63, 197, 1);
  font-weight: bold;
}

.product-list{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(10rem,1fr));
  gap: 1rem;
  padding-bottom: 2rem;
}
.product{
  margin-bottom: 2rem;
}
.product-img{
  box-shadow: 0 0 0.15rem grey;
  border-radius: 1rem;
  margin-bottom: 0.85rem;
}
.product-img:hover{
  cursor: pointer;
}
.product-img:hover img{
  transform: scale(1.1);
}
.product-img img{
  transition: transform 0.35s ease;
  width: 100%;
}
.product-info p{
  font-size: 0.85rem;
  font-weight: bold;
  letter-spacing: -0.05rem;
}
.product-info h4{
  margin-block: 0.5rem;
  font-size: 1rem;
}
.product-cost{
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-cost button{
  padding: 0.5rem 0.8rem;
  color: rgb(63, 197, 1);
  background-color: rgba(63, 197, 1, 0.132);;
  border: 0.1rem solid rgb(63, 197, 1);
  text-transform: uppercase;
  border-radius: 0.75rem;
  font-weight: bold;
  transition: transform 0.25s ease;
}
.product-cost button:hover{
  cursor: pointer;
  transform: scale(1.05);
}

/* cleaners section */
.cleaners{
  max-width: 1320px;
  margin-inline: auto;
  display: none;
}
.cleaner-img{
  width: 100%;
}

/* promotion section */
.promotion{
  padding: 5rem 2rem;
  background-color: rgb(237, 235, 235); 
}
.promotion span{
  color: red;
}
.promotion h1{
  color: #999;
  font-size: 5rem;
  padding-bottom: 3rem;
  border-bottom: 0.1rem solid #ddd;
}
.promotion h3{
  color: #ccc;
  font-size: 2rem;
  margin-top: 3rem;
}

/* footer  */
.footer{
  padding: 2rem;
}
.footer-head{
  display: flex;
  gap: 3rem;
}
.footer-part1 li, .footer-part2 li{
  list-style: none;
  font-size: 0.85rem;
}
.footer-part2{
  padding-bottom: 3rem;
}
.footer-part1 li a, .footer-part2 li a{
  color: #aaa;

}
.footer-part1 li a:hover, .footer-part2 li a:hover{
  text-decoration: underline;
}
.footer-list{
  padding-block: 1rem;
  display: flex;
  gap: 2.5rem;
}
.footer-list li{
  padding-bottom: 0.5rem;
}


/* Media Query */
/* Tablet version */
@media only screen and (min-width: 576px) and (max-width: 991px){
  header{
    align-items: start;
    flex-direction: column;
    padding: 0.75rem 0 1rem 0;
    top: 0;
    position: sticky;
    background-color: white;
  }
  
  .headerRight{
    position: fixed; 
    bottom: 0;
    z-index: 1000;
    background-color: white;
    width: 100%;
    justify-content: center;
    box-shadow: 0 0 0.5rem grey;
    padding-block: 0.5rem;
  }
  .logo{
    padding: 0.25rem 0.65rem;
    box-shadow: none;
    border-right: 0.025rem solid grey;
  }
  .address{
    padding: 0.5rem 0.85rem;
  }
  .address h2{
    margin-bottom: 0.25rem;
    font-size: 1rem;
  }
  .address p{
    font-size: 0.65rem;
  }
  .searchBox{
    margin: auto;
    margin-top: 0.5rem;
    width: 95%;
  }
  .searchBox input{
    font-size: 1rem;
  }
  .loginDiv{
    position: absolute;
    right: 25px;
    top: 25px;
    display: block;
    transform: scale(2);
  }
  .items, .products{
    padding-bottom: 3rem;
  }
  .cleaners{
  max-width: 1320px;
  margin-inline: auto;
  display: block;
  padding-bottom: 5rem;
  background-color: #d8f2ff;
}
.cleaner-list{
  padding-inline: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit,minmax(5rem,1fr));
}
.cleaner{
  text-align: center;
  font-size: 0.85rem;
}
.cleaner-img{
  border-radius: 1rem;
  overflow:hidden;
  /* height: 10rem; */
}
.cleaner-img img{
  width: 100%;
}

.promotion{
  padding: 5rem 2rem;
  background-color: rgb(237, 235, 235);
}

.promotion span{
  color: red;
}
.promotion h1{
  color: #ccc;
  font-size: 3rem;
  padding-bottom: 3rem;
  border-bottom: 0.1rem solid #ddd;
}
.promotion h3{
  margin-top: 3rem;
}


}
/* Mobile Version */
@media only screen and (min-width: 200px) and (max-width: 575px){
header{
  flex-direction: column;
  align-items: start;
  padding: 0.75rem 0 1rem 0;
  position: sticky;
  top: 0;
  background-color: white;
}
.headerLeft{
  flex-direction: column;
  align-items: start;
}
.headerRight{
    box-shadow: 0 0 0.5rem grey;
    padding-block: 0.5rem;
    z-index: 1000;
    background-color: white;
    position: fixed; 
    bottom: 0; 
    justify-content: center;
    width: 100%;
}
.headerRight .loginBtn buttton{
  font-size: 0.9rem;
}
.myCart button{
  padding: 0.85rem;
}
.logo{
  padding: 0.5rem 0rem 0.25rem;
  box-shadow: none;
  
}
.address{
  padding: 0.35rem 0.65rem;
}
.address h2{
  margin-bottom: 0.15rem;
  font-size: 0.85rem;
}
.address p{
  font-size: 0.65rem;
}
.header{
  flex-direction: column; 
}

.searchBox{
  width: 95%;
  margin: auto;
  margin-top: 0.5rem;
}
.searchBox input{
  font-size: 0.95rem;
}
.loginDiv{
    position: absolute;
    right: 15px;
    top: 20px;
    display: block;
    transform: scale(1.35);
  }
  .loginDiv i{
    font-size: 1.5rem;
  }

  .bannerSection, .banner{
    display: none;
  }
    
  .items, .products{
    padding-bottom: 3rem;
  }

  .product-heading{
    flex-direction: column;
    text-align: right;
  }
  
  .cleaners{
  max-width: 1320px;
  margin-inline: auto;
  display: block;
  padding-bottom: 2rem;
  background-color: #d8f2ff;
}
.cleaner-list{
  padding-inline: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit,minmax(5rem,1fr));
}
.cleaner{
  text-align: center;
  font-size: 0.65rem;
}
.cleaner-img{
  border-radius: 1rem;
  overflow:hidden;
  /* height: 10rem; */
}
.cleaner-img img{
  width: 100%;
}
.promotion h1{
  font-size: 2rem;
}
.promotion h3{
  margin-top: 1.5rem;
  font-size: 1.5rem;
}

.promotion{  
  margin-block: 1rem;
  padding: 3rem 1rem;
  background-color: rgb(237, 235, 235);
}
.promotion span{
  color: red;
}
.promotion h1{
  color: #ccc;
  padding-bottom: 1.5rem;
  border-bottom: 0.1rem solid #ddd;
}
}